main .container .right{
    height: max-content;
    position : sticky;
    top: var(--sticky-top-right);
    bottom: 0;
  }
  
  .right .friend-requests {
    margin-top: 1rem;
  }
  
  .right .friend-requests h4{
    color: var(--color-gray);
    margin: 1rem 0;
  }
  
  .right .request{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
  }
  
  .right .request .info{
    display: flex;
    gap: 1rem;
    margin-bottom:1rem;
  }
  
  .right .request .action{
    display:flex;
    gap: 1rem;
  }
  